.stec-top {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    float: left;

    .stec-top-flex {
        position: relative;
        z-index: 100;
        .flexbox(space-between);
    }
}

.stec-top-menu-datepicker-mobile {
    position: relative;
    z-index: 99;
    margin-top: 5px;
    display: flex;

    .stec-top-scroll-menu-date {
        flex: 1;
    }

    .stec-top-scroll-menu-month {
        flex: 1;
    }

    .stec-top-scroll-menu-year {
        flex: 1;
    }

    >.stec-top-menu-button:last-child,
    >.stec-top-menu-button:first-child {
        min-width: 60px !important;
    }

    >.stec-top-menu-button:first-child {
        margin-left: 0;
    }

    &.stec-top-menu-datepicker-mobile-no-datepicker {
        .stec-top-menu-button {
            width: 100%;
        }
    }
}

.stec-top-datepicker-dropdown-menu-wrap {
    &:not(:first-child) {
        >.stec-top-menu-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &:first-child {
        >.stec-top-menu-button {
            margin-left: 0;
            border-top-left-radius: var(--stec-corner-smoothing);
            border-bottom-left-radius: var(--stec-corner-smoothing);
        }
    }
}

.stec-top-datepicker-dropdown-menu {
    position: absolute;
    display: flex;
    width: 100%;
    top: 42px;
    left: 0;
    background-color: var(--stec-top-menu-bg-active-primary);
    border-radius: var(--stec-corner-smoothing);
    padding: 12px;
    box-sizing: border-box;

    .stec-top-menu-datepicker-mobile {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        gap: 1px;
        width: 100%;
        margin-top: 0;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: var(--stec-top-separator-color);
        border-radius: var(--stec-corner-smoothing);
        box-sizing: border-box;

        .stec-top-menu-button {
            margin-left: 0;
            height: 38px;
            background-color: var(--stec-top-menu-bg-active-primary);
            color: var(--stec-top-menu-color-active);
            line-height: 38px;
        }
    }
}