.stec-top-filter-items-container {}

.stec-top-filter-items {
    background-color          : var(--stec-top-menu-bg-active-secondary);
    border-bottom-left-radius : var(--stec-corner-smoothing);
    border-bottom-right-radius: var(--stec-corner-smoothing);
    display                   : none;
    max-height                : 266px;
    /* 7 x 38 */
    .miniScrollBar(var(--stec-top-menu-bg));
    overflow: auto;
}

.stec-top-filter {
    &.active {
        .stec-top-filter-items {
            display: block;
        }
    }
}