.stec-top-filter-inline {
    width                : 100%;
    display              : grid;
    gap                  : 5px;
    grid-template-columns: repeat(auto-fit, minmax(var(--stec-top-filter-item-inline-min-width), 1fr));
    margin-top           : 5px;
    .noselect;
}

.stec-top-filter-item-inline {
    padding      : 0 10px;
    font-size    : 12px;
    color        : #fff;
    border-radius: var(--stec-corner-smoothing);
    white-space  : nowrap;
    min-height   : 38px;
    line-height  : 38px;
    cursor       : pointer;

    i {
        margin-right: 5px;
    }
}