.stec-top-filters-menu {
    .flexbox;
    position     : absolute;
    background   : var(--stec-top-menu-bg-active-primary);
    padding      : 12px;
    left         : 0;
    border-radius: var(--stec-corner-smoothing);
    width        : 100%;
    box-sizing   : border-box;
}