.stec-dashboard-top-nav {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .stec-dashboard-top-nav {
        .stec-button {
            flex: 1 1 162px;
        }
    }
}